@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    
--Bright-orange:hsl(31, 77%, 52%);
--Dark-cyan:hsl(184, 100%, 22%);
--Very-dark-cyan :hsl(179, 100%, 13%);

/* ### Neutral */

--Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
--Very-light-gray-b-h-b: hsl(0, 0%, 95%);



}

body{
    background: var(--Very-light-gray-b-h-b);
    width: 100%;
    min-height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
   font-family: 'Lexend Deca','Big Shoulders Display', cursive;
}




.container{
        display: grid;
        grid-template-columns:repeat(3 , 1fr);
        max-width: 1440px;
      
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto;
}


img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

.card-1{
    background:var(--Bright-orange);
padding: 3rem;

}

.card-1 h1{
font-weight: 700;
font-family:'Big Shoulders Display', cursive;
font-size: 3rem;
color: var(--Very-light-gray-b-h-b);
text-transform: uppercase;
padding:2rem 0 2rem 0;
}

.card-1 p{
    line-height: 1.8;
    font-size: 1.7rem;
    white-space: pre-line;
    color: var(--Transparent-white-paragraphs);
    margin: 0 0 4rem 0;   
}

.card-1 .btn-1{
    padding-top: 5rem;

}

.btn-1 .btn{
    display: inline-block;
    border: none;
    width: 12rem;
    height: 4rem;
    border-radius: 160px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(42, 42, 43, 0.2) 0px 8px 24px;
}
 button:hover{
    outline: 3px solid rgb(255, 255, 255);
    background:transparent;
    color: var(--Transparent-white-paragraphs);
}

.btn-color-1{
    color: var(--Bright-orange);
}


.btn-color-2{
    color: var(--Dark-cyan);
}
.btn-color-3{
    color: var(--Very-dark-cyan);
}



.card-2{
    background:var(--Dark-cyan);
padding: 3rem;

}

.card-2 h1{
font-weight: 700;
font-family:'Big Shoulders Display', cursive;
font-size: 3rem;
color: var(--Very-light-gray-b-h-b);
text-transform: uppercase;
padding:2rem 0 2rem 0;
}

.card-2 p{
    line-height: 1.8;
    font-size: 1.7rem;
    white-space: pre-line;
    color: var(--Transparent-white-paragraphs);
    margin: 0 0 4rem 0;   
}

.card-2 .btn-1{
    padding-top: 5rem;

}


.card-3{
    background:var(--Very-dark-cyan);
padding: 3rem;

}

.card-3 h1{
font-weight: 700;
font-family:'Big Shoulders Display', cursive;
font-size: 3rem;
color: var(--Very-light-gray-b-h-b);
text-transform: uppercase;
padding:2rem 0 2rem 0;
}

.card-3 p{
    line-height: 1.8;
    font-size: 1.7rem;
    white-space: pre-line;
    color: var(--Transparent-white-paragraphs);
    margin: 0 0 4rem 0;   
}

.card-3 .btn-1{
    padding-top: 5rem;

}

  @media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr; 
      padding: 0.55rem;
      border-radius: 10px;
    }
    
    .box p{
        font-size: 1rem;
        padding: 0;
        margin: 0; 
    }
  
 .box .btn-1{
      font-size: 0.9rem;
      padding-top: 1rem;
    }
 
  }
  
  


  